<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RBIIFSCXLS download">
  <test thread-count="5" name="RBIIFSCXLS download">
  <classes>
    <class name="com.example.JanSampleProject.RBIBankExcelDownload" />
  </classes> </test> <!-- Test -->
</suite> <!-- Suite -->
